<% if [1, 4, 9].include? stage %>
  <td><%= button_to "Ban", :controller => :game, :action => "ban_pet", :pet_id => p.id %></td>
<% elsif [3, 6, 11].include? stage %>
  <td><%= button_to "Pick", :controller => :game, :action => "pick_pet", :pet_id => p.id %></td>
<% end %>
