<% if [0, 5, 8].include? stage %>
  <td><%= button_to "Ban", :controller => :game, :action => "ban_pet", :pet_id => p.id %></td>
<% elsif [2, 7, 10].include? stage %>
  <td><%= button_to "Pick", :controller => :game, :action => "pick_pet", :pet_id => p.id %></td>
<% end %>
