<% if [0, 5, 8].include? game.stage and user == game.user and p.status == 0 %>
  <td><%= button_to "Ban", :controller => :game, :action => "ban_pet", :pet_id => p.pet.id %></td>
<% elsif [3, 6, 11].include? game.stage and user == game.opponent and p.status == 0 %>
  <td><%= button_to "Pick", :controller => :game, :action => "pick_pet", :pet_id => p.pet.id %></td>
<% end %>
