<% if user_signed_in? %>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  <p>Hello World</p>
  <%= link_to 'New Character', 'new_char' %>
<% else %>
  <li><%= link_to('Login', new_user_session_path) %></li>
<% end %>
